Group Project Notes/**
Project Requirements.pdf
Project Topic Proposal.docx
Project Topic Proposal.pdf
Trial.drawio
__pycache__/**
ddsenv/**
trial.py
ddsvenv/**
trial2.py
Initial Data.xlsx
Report.docx
DDS presentation.pptx
ERD GP.jpeg.jpg
